<!DOCTYPE html>
<html lang="en">

<head>
  <title>新的标签页</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="styles/index.css" rel="stylesheet">
</head>

<body ng-app="app">
  <nav>
    <ul>
      <li class="active">Speed Dial</li>
      <li><a>书签</a></li>
      <li><a>历史</a></li>
    </ul>
  </nav>

  <div ng-controller="TabCtrl as tc">
    <div class="main-container">

      <div class="tab-item " ng-repeat="item in tc.bookmarks track by item.id">
        <a ng-click="tc.goto(item)" ng-right-click="tc.openContextMenu($event,item)" source="item">
          <div class="thumb">
            <img ng-src="{{item.image}}" ng-if="item.image"></img>
            <div class="refresh" ng-click="tc.removeImage($event, item)">X</div>          
          </div>
        </a>
        
        <input class="title" type="text" ng-model="item.text" 
              ng-change="tc.changeName(item)"
              ng-model-options="{debounce: 1000}" />
      </div>

      <div class="tab-item">
        <a ng-click="tc.add()">
          <div class="thumb">
            <div class="add">+</div>
          </div>
        </a>
      </div>

    </div>
    <div bookmark-add-panel is-open="tc.panelOpen" add-bookmark="tc.addBookmark(url)"></div>
    <div  context-menu show-menu="tc.showMenu"
          position="tc.clickPosition"
          click-out-handler="tc.hideMenu()"
          command-handler="tc.runCommand(command)"></div>
  </div>

  <script src="vendor/angular.min.js"></script>
  <script src="scripts/index.js"></script>
  <script src="scripts/template/bookmarkAddPanel.js"></script>  
  <script src="scripts/template/ngRightClick.js"></script>
  <script src="scripts/template/clickOut.js"></script>
  <script src="scripts/template/contextMenu.js"></script>
  <script src="scripts/service/MenuCommandFactory.js"></script>
</body>

</html>